LenguajeDeMarcas/UD1Ejercicios/Relacion4/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pedidos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pedido" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cliente">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre"></xs:element>    
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z].*"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="telefono">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:pattern value="\d{3}-\d{3}-\d{3}"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>                                                
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="productos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="producto" maxOccurs="unbounded">                                                            
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre"></xs:element>
                                                    <xs:element name="precio">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="0"/>
                                                                <xs:maxInclusive value="999999999999"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="cantidad"></xs:element>                                               
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>                            
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="estado">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Pendiente"/>
                                        <xs:enumeration value="Enviado"/>
                                        <xs:enumeration value="Entregado"/>
                                        </xs:restriction>
                                </xs:simpleType>
                            </xs:element>       
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
     

        
  